.vscode
*.csv

Back/.vscode
Back/stageenv
Back/telemetry2/telemetry2.egg-info/
Back/telemetry2.egg-info/
Back/telemetry2/telemetry2/__pycache__/
Back/telemetry2/telemetry2/models/__pycache__/
Back/telemetry2/telemetry2/views/__pycache__/

Front/stage_front/node_modules/
Front/stage_front/build/
Front/stage_front/package-lock.json
Front/cesiumjs/
Front/stage_front/dist/